.rte.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

#collDescToggler::after {
  content: 'Voir moins';
}

#collDescToggler.more::after {
  content: 'Voir plus';
}
